@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --body-s-font-size: 20px;
  --heading-l-bold-font-size: 64px;
  --heading-l-regular-font-size: 64px;
  --heading-s-font-size: 28px;
  --heading-m-font-size: 36px;
  --heading-body-m-font-size: 24px;
  --heading-body-s-font-size: 20px;
}



:root {
  --body-s-font-family: "Rubik", Helvetica;
  --body-s-font-size: 20px;
  --body-s-font-style: normal;
  --body-s-font-weight: 400;
  --body-s-letter-spacing: 0px;
  --body-s-line-height: 150%;
  --heading-l-bold-font-family: "Rubik", Helvetica;
  --heading-l-bold-font-size: 64px;
  --heading-l-bold-font-style: normal;
  --heading-l-bold-font-weight: 500;
  --heading-l-bold-letter-spacing: 0px;
  --heading-l-bold-line-height: 100%;
  --heading-l-regular-font-family: "Rubik", Helvetica;
  --heading-l-regular-font-size: 64px;
  --heading-l-regular-font-style: normal;
  --heading-l-regular-font-weight: 300;
  --heading-l-regular-letter-spacing: 0px;
  --heading-l-regular-line-height: 100%;
  --heading-s-font-family: "Rubik", Helvetica;
  --heading-s-font-size: 28px;
  --heading-s-font-style: normal;
  --heading-s-font-weight: 500;
  --heading-s-letter-spacing: 0px;
  --heading-s-line-height: 100%;
}

